/* Import Bootstrap CSS */
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');

/* Default Navbar styling */
.navbar {
  transition: background-color 0.3s, color 0.3s;
}

/* Dark mode */
body.dark-mode .navbar {
  background-color: #1f1f1f;
  color: #e0e0e0;
}


