/* navbar.css */

/* Import Bootstrap CSS if needed */
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');
body {
  background-color: transparent;
}


/* Navbar specific styles*/
.navbar {
  transition: background-color 0.3s, color 0.3s;
}

/* Dark mode overrides */
body.dark-mode .navbar {
  background-color: #070707;
  color: #0f0f0f;
}
